.carousel-indicators {
	position: relative;
	top: 25px;
}

.carousel-indicators > .active {
	background-color: #4cb2a2;
}

.carousel-indicators > li {
	background-color: #bbbebd;
}

#getmore_suggestions {
	margin: 50px 0px;
}

#getmore_suggestions > h5 {
	color: #e72d2c;
	font-size: 22px;
}

.production {
	width: 212px;
	height: 360px;
	margin: 0 7px 10px 7px;
	padding: 0;
	border: solid 1px #b7b7b5;
	background: #ffffff;
}

.production > p {
	margin-left: 20px;
	margin-top: 5px;
}

.production > img {
	margin-top: -20px;
}

.collection {
	position: relative;
	left: 175px;
	top: 25px;
}

#log_in {
	position: relative;
	right: 3px;
	bottom: 3px;
}

.form-group > .col-md-5 {
	padding-left: 0px;
	padding-right: 25px;
	text-align: right;
}
#getmore_login, .fb_login {
	width: 400px;
	margin: 0 auto;
}

.modal-title {
	text-align: center;
}

.fb_login > h4 {
	text-align: center;
}

.fb_login_btn {
	margin: 0 40px;
}

#getmore_login > .row > div {
	padding-left: 0;
}

#getmore_login > .row {
	padding-bottom: 10px;
}

.getmore_instruction {
	padding-top: 13px;
}

.announcement {
	color: #717170;
	font-size: 12px;
}

#start_to_getmore {
	padding 0;
}

.form-group > input {
	width: 375px;
}

#registration {
	padding: 10px 0;
	color: #717170;
	font-size: 12px;
}

#forget_password {
	color: #e72d2c;
	padding-right: 25px;
}

#registration > a {
	color: #3e9b95;
}

.panel-box {
	width: 925px;
	height: auto;
	margin-left: 20px;
	padding-bottom: 40px; 
}

.panel-box .col-md-2 {
	padding-left:40px ;
	
}

.col-md-2 > h5 {
	color: #999999;
	font-size: 16px;
	
}


.panel-link > a h6 {
	color: #4E4D4D;
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	
}

.panel-link > h4 {
	color: #AAAAAA;
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	
}

.panel-link {
	margin-top:20px;
	
}

.carousel{
	margin-bottom:60px;
	
}

.homead {
  margin-left: -18px;
  margin-bottom: 20px;
  border: 0px solid transparent;
  border-radius: 0px;
}

.homead-box {
	width: 980px;
	height: auto;
	margin: auto;
	padding-bottom: 40px; 
}

